.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  padding-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  padding-top: 30px;
}
