@import url('../styles/normalize.css');

/* service block */
@import url('../styles/service/_position/item_position_centered.css');

/* header block */
@import url('./header/header.css');
@import url('./header/header__title.css');
@import url('./logo/logo.css');
@import url('./logo/_place/logo_place_header.css');
@import url('./logo/_place/logo_place_footer.css');
@import url('./header/header__subtitle.css');
@import url('./header/header__link.css');
@import url('./header/header__main-illustration.css');
@import url('./header/header__square-pic.css');

/* description block */
@import url('./description/description.css');
@import url('./two-columns/two-columns.css');
@import url('./two-columns/two-columns__brief.css');
@import url('./two-columns/two-columns__main-text.css');
@import url('./two-columns/two-columns__paragraph.css');
@import url('./two-columns/two-columns__span-accent.css');

/* digits block */
@import url('../styles/digits/digits.css');
@import url('../styles/section-title/section-title.css');
@import url('../styles/section-title/_theme/section-title_theme_light.css');
@import url('../styles/section-title/_theme/section-title_theme_dark.css');
@import url('../styles/section-subtitle/section-subtitle.css');
@import url('../styles/section-subtitle/_theme/section-subtitle_theme_light.css');
@import url('../styles/section-subtitle/_theme/section-subtitle_theme_dark.css');
@import url('../styles/table/table.css');
@import url('../styles/table/table__cell.css');
@import url('../styles/table/table__heading.css');
@import url('../styles/table/table__text.css');

/* feynman block */
@import url('../styles/feynman/feynman.css');
@import url('../styles/feynman/feynman__title.css');
@import url('../styles/feynman/feynman__subtitle.css');
@import url('../styles/feynman/feynman__link.css');


.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/*----------------- description section -------------------- */




/*----------------- digits section -------------------- */




/*----------------- digits section end -------------------- */





/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
